/* custom properties */
:root {

}

/* Hack para trabajar más fácil con rem */
html {
    font-size: 62.5%;
    box-sizing:border-box; /* hack para Box Model */
}

body {
    font-size: 16px; /* 1 rem = 10px */
    font-family: 'Krub', sans-serif;
}
/* Fin del Hack */